<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'warden/style.css' %}" />
</head>
<body>
{{ ind.destination }}<br>
{{ ind.vehicle }}<br>
{{ ind.time }}
<form action="{% url 'outpass' user.id %}" method="post">
    {% csrf_token %}
    <input type="radio" id="yes" name="allow" value="Confirm Outpass" checked/>Confirm outpass<br>
    <input type="radio" id="no" name="allow" value="Decline Outpass" />Decline outpass<br>
    <input type="submit" value="Okay">
</form>
</body>
</html>